<div class="content">
  <div class="body">
    <div class="assistir">
      <img class="tv" src="../../../assets/tv.png" alt="">
      <iframe class="video" width="505" height="278" src="https://www.youtube.com/embed/TRaVKAZMU4Q?si=mWVwcMnuwfj7NHu1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
    <div class="extras">
      <p>iCarly <span>EXTRAS</span></p>
      <img class="ziper" src="../../../assets/ziper.png" alt="">
      <div class="sam">
        <div>
          <img src="../../../assets/sam.jpg" alt="" width="100px">
        </div>
        <div class="text">
          <p>I'd morph that. <br>
            Carly gets morphed with sam's rabid cat, frothy. <br>
            Plus we throw sam a suprise party!</p>
          <div class="star">
            <img src="../../../assets/icons/star.svg" alt="" width="20px">
            <img src="../../../assets/icons/star.svg" alt="" width="20px">
            <img src="../../../assets/icons/star.svg" alt="" width="20px">
            <img src="../../../assets/icons/star.svg" alt="" width="20px">
            <p>1/2</p>
          </div>
          <br>
          <hr>
          <div class="missy">
          <div>
            <img src="../../../assets/missy.jpg" alt="" width="100px">
          </div>
          <div class="text">
            <p>I'd morph that. <br>
              Carly gets morphed with sam's rabid cat, frothy. <br>
              Plus we throw sam a suprise party!
            </p>
          </div>  
          </div>
          

        </div>

      </div>
      <div class="see-button-box">
        <button class="see-button">see more videos →</button>
      </div >

    </div>


    <div class="placas">
        <div class="seta-esquerda"> iCARLY EXTRAS</div>
        <div class="placa"> WEBCAST HIGHLIGHTS</div>
        <div class="placa">YOUR VIDEOS</div>
    </div>
  
  </div>