<div class="content">
  <div class="body">
    <div class="car">
      <img src="../../../assets/carro.png" alt="">
    </div>

    <div class="site">
      <div class="avaliando-box">
        <h5>like this video?</h5>
      <div class="avaliando">

        <div class="estrelas">
          <img src="../../../assets/icons/star.svg" alt="">
          <img src="../../../assets/icons/star.svg" alt="">
          <img src="../../../assets/icons/star.svg" alt="">
          <img src="../../../assets/icons/star.svg" alt="">
          <img src="../../../assets/icons/star.svg" alt="">
        </div>

        <div class="slider-container" >
          <hr class="slider-thumb">
        </div>

        <div class="textinho">Curiosity Bakery</div>
      </div>
      </div>
      <div class="spencer-box">
        <img class="spencer" src="../../../assets/spencer.png" alt="" >
      </div>

    </div>

  </div>
</div>