.content{
  width: 96%;
  margin: 0 auto;
  margin-top: -108px;
}
.above{
  display: flex;
  gap: 8%;
  margin-bottom: 20px;
}
.above .today{
  margin-top: 20px;
  font-size: 14px;
  letter-spacing: -1px;
}
.text1{
  text-shadow: 
   0px 0px 0 black,  
   0px 0px 0 black,  
   0px  0px 0 black,  
   1px  1px 0 black;
}
.text2{
  color: #e9313b;
  text-shadow: 
   0px 0px 0 black,  
   0px 0px 0 black,  
   0px  0px 0 black,  
   1px  1px 0 black;
}
.search{
  margin-top: -3px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.search h4{
  font-family: "Courier", "Courier New", monospace;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -3px;
  text-shadow: 
  -1px -1px 0 black,  
   1px -1px 0 black,  
  -1px  1px 0 black,  
   1px  2px 0 black;
}
.pesquisa{
  display: flex;
  gap: 5px;
  align-items: center;
}
.pesquisa img{
  width: 14px;
  padding: 3px 5px;
  border: 1px solid white;
  border-radius: 5px;
}
.pesquisa input{
  width: 180px;
  border: 2.5px solid #a0c440;
  border-radius: 4px;
  height: 23px;
  font-size: 8px;
  padding-left: 5px;
  margin-bottom: 6px;
}
.pesquisa input:focus{
  outline: none;
  border: 2px solid #82a12a;
}
.lista{
  list-style-type: none;
  height: 90px;
  display: flex;
  justify-content: space-around;
  background-color: rgba(147, 113, 179, 0);
  border-radius: 15px;
  padding: 12px;
  align-items: start;
  background-image: radial-gradient(closest-side at 60% 55%, transparent 49%, rgb(100, 3, 109) 49.5%, #4d0457 52%, #722682 85%);
  background-size: 300% 290%;
  background-position: 63% 28%;
  filter: drop-shadow(0px 0px 3px rgb(234, 230, 235)); 
}
.lista li:hover{
  border-radius: 5px;
  background-image: radial-gradient(closest-side at 60% 55%, transparent 49%, rgb(78, 2, 85) 49.5%, #36023d 52%, #310033 85%);
}
.lista li{
  display: flex;
  align-items: flex-start;
  gap: 5px;
  font-size: 10px;
  padding-left: 1.4%;
  padding-right: 1.4%;
  margin-top: 0px;
  filter: drop-shadow(0px 0px 3px rgb(234, 230, 235)); 
  background-image: radial-gradient(closest-side at 60% 55%, transparent 49%, rgb(143, 34, 153) 49.5%, #8d3d97 52%, #722682 85%);
}
.lista li img{
  width: 16px;
  margin-top: -5px;
}
.l1{
  padding-top: 20px;
  height: 55px;
  background-size: 620% 300%;
  background-position: 53% 20%;
}
.l2{
  padding-top: 14px;
  height: 43px;
  background-size: 650% 300%;
  background-position: 54% 20%;
}
.l3{
  padding-top: 10px;
  height: 35px;
  background-size: 680% 300%;
  background-position: 55% 20%;
}
.l4{
  padding-top: 7px;
  height: 33px;
  background-size: 680% 300%;
  background-position: 59% 20%;
}
.l5{
  padding-top: 7px;
  height: 32px;
  background-size: 700% 300%;
  background-position: 62% 20%;
}
.l6{
  padding-top: 8px;
  height: 33px;
  background-size: 680% 300%;
  background-position: 65% 20%;
}
.l7{
  padding-top: 11px;
  height: 35px;
  background-size: 650% 300%;
  background-position: 69% 20%;
}
.l8{
  padding-top: 15px;
  height: 46px;
  background-size: 690% 300%;
  background-position: 71% 20%;
}