<div class="content">
  <div class="above">
    <div class="today">
      <h4 class="text1">Today is Sunday,july 23</h4>
      <br>
      <h4 class="text2">PUDDING PATROL</h4>
    </div>
    <div class="search">
      <h4>Search our site</h4>
      <div class="pesquisa">
        <input type="search" name="" id="" placeholder="Search here">
        <img src="../../../assets/icons/search.svg" alt="" width="50px">
      </div>
    </div>
  </div>
  <div class="nav">
    <ul class="lista">
      <li class="l1">iBLOGS <img src="../../../assets/icons/chat-left-fill.svg" alt=""></li>
      <li class="l2">iSNAPS <img src="../../../assets/icons/camera-fill.svg" alt=""></li>
      <li class="l3">iTRIVIAS <img src="../../../assets/icons/lightbulb-fill.svg" alt=""></li>
      <li class="l4">iVIDEO <img src="../../../assets/icons/camera-reels-fill.svg" alt=""></li>
      <li class="l5">iPLAY <img src="../../../assets/icons/person-arms-up.svg" alt=""></li>
      <li class="l6">iSONGS <img src="../../../assets/icons/headphones.svg" alt=""></li>
      <li class="l7">iNEED HELP <img src="../../../assets/icons/question.svg" alt=""></li>
      <li class="l8">SEND US STUFF <img src="../../../assets/icons/mouse2-fill.svg" alt=""></li>
    </ul>
  </div>
</div>